# Caddyfile
# Configures Caddy to serve the app over HTTPS on local network IP & localhost
# Caddy will automatically generate and renew internal self-signed SSL certificates.

https://192.168.50.5, https://localhost, https://127.0.0.1 {
    # Reverse proxy to the Next.js web application container
    reverse_proxy web:{$PORT_WEB:3000}
    
    # Enable internal self-signed TLS certificates
    tls internal
}
